@model List<Event>
@{
}

<table id="EventsTable" style="width:100%">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr role="row" class="odd">
                    <td>@item.Title</td>
                    <td>@item.Description</td>
                    <td>
                        <span style="color:darkred;font-size:23px;font-weight:bold;">
                            <a href="javascript:void(0)" onclick="location.href='@Url.Action("EditEvent", "Admin", new { Id = item.Id })'">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        </span>
                    </td>
                    <td>
                        <span style="color:darkred;font-size:23px;font-weight:bold;">
                            <a href="javascript:void(0)" onclick="Delete('/Admin/DeleteEvent/', @item.Id, 'Event', 'EventsListTable', 'EventsTable')">
                                X
                            </a>
                        </span>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>