@model EventViewModel

@{
    ViewData["Title"] = "Event Details";
    List<string> ImagesList = ViewData["ImagesList"] as List<string>;
}

<h1>Event Details</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <div class="form-group" style="margin-top:15px;">
            <label asp-for="Event.Title" class="control-label"></label>
            <input asp-for="Event.Title" class="form-control" readonly />
            <span asp-validation-for="Event.Title" class="text-danger"></span>
        </div>
        <div class="form-group" style="margin-top:15px;">
            <label asp-for="Event.Description" class="control-label"></label>
            <textarea asp-for="Event.Description" class="form-control" readonly></textarea>
            <span asp-validation-for="Event.Description" class="text-danger"></span>
        </div>
        <div class="form-group" style="margin-top:15px;">
            <label asp-for="Event.EventStart" class="control-label"></label>
            <input asp-for="Event.EventStart" class="form-control" readonly />
            <span asp-validation-for="Event.EventStart" class="text-danger"></span>
        </div>
        <div class="form-group" style="margin-top:15px;">
            <label asp-for="Event.EventEnd" class="control-label"></label>
            <input asp-for="Event.EventEnd" class="form-control" readonly />
            <span asp-validation-for="Event.EventEnd" class="text-danger"></span>
        </div>
    </div>

    <div class="col-md-8">
        <div class="col-md-12" style="text-align:center;margin-bottom:25px;margin-top:30px;">
            <span style="font-size:23px; font-weight:bold; color:black !important;margin-right:30px">Uploaded Images</span>
        </div>
        <div id="detailsGallery" class="form-group col-md-12" style="align-content:center !important; justify-content:center !important; display:inline-block;">
            @if (ImagesList.Count > 0)
            {
                int i = 0;
                @foreach (var item in ImagesList)
                {
                    <div id="@i" class="parentDiv" style="width:200px; height:200px; display:inline-block;padding:10px;">
                        <a href="/Images/@Model.Event.Images.Trim()/@item" data-toggle="lightbox">
                            <img src="/Images/@Model.Event.Images.Trim()/@item" class="img-fluid" style="margin-left:auto; margin-right:auto; display:table">
                        </a>
                    </div>
                    i++;
                }
            }
        </div>
    </div>
</div>

@section Scripts{
<script>

       $(document).on('click', '[data-toggle="lightbox"]', function (event) {
                event.preventDefault();
                const lightbox = new Lightbox(el, options);
    lightbox.show();
            });

</script>
}