@{
    ViewData["Title"] = "Events List";
}

<h2>@ViewData["Title"]</h2>


<div class="row">
    <div class="col-md-10">
        <section id="EventsListTable">
        </section>
    </div>
</div>

<div id="confirm" title="Confirm">
  <p id="message"></p>
</div>


@section Scripts {
<script>
    viewTable('/User/EventsTablePartial/', 'EventsListTable', 'EventsTable');
</script>
}