@{
    ViewData["Title"] = "NewEvent";
}

<h1>Events Calendar</h1>

<hr />
<div class="row">
    <div class="col-md-8">
        <div id='calendar'></div>
    </div>
</div>

@section Scripts {
<script>
    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');
      var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        dayMaxEvents:true,
        businessHours:true,
        eventClick: function(info) {
        var event = info.event;
    console.log(event.id);
    location.href='@Url.Action("EventDetails", "User")/' + event.id;
  },
        events: '/User/GetCalendarEvents'
      });
      calendar.render();
    });
</script>
}