@page

@model UsersModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Users";
}
<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-10">
        <section>
            <table id="UsersTable" style="width:100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Nationality</th>
                        <th>Gender</th>
                        <th>Banned</th>
                        <th>Actions</th>
                    </tr>
                </thead>
            </table>
        </section>
    </div>
</div>
@section Scripts {
<script src="~/lib/datatables.net/jquery.dataTables.js"></script>
<script>

    $(document).ready(function () {


         $("#UsersTable").DataTable({
             "processing": true,
             "serverSide": true,
             "filter": true,
             "ajax": {
                 "url": "/Identity/Account/Manage/Users?handler=getusers",
                 "type": "POST",
                 "datatype": "json",
                 "headers": { 'RequestVerificationToken': $('@Html.AntiForgeryToken()').val() }
             },
             "columnDefs": [{
                 "targets": [0],
                 "visible": false,
                 "searchable": false
             }],
             "columns": [
                 { "data": "id", "name": "Id", "autoWidth": true , "visible": false},
                 { "data": "firstName", "name": "First Name", "autoWidth": true },
                 { "data": "lastName", "name": "Last Name", "autoWidth": true },
                 { "data": "email", "name": "Email", "autoWidth": true },
                 { "data": "nationality", "name": "Nationality", "autoWidth": true },
                 { "data": "gender", "name": "Gender", "autoWidth": true },
                 { "data": "banned", "name": "Banned", "autoWidth": true },
                 {"render": createManageBtn, "data": "id", "targets": [0]},
         ] });

        function createManageBtn(id) {
            return '<button id="banBtn" type="button" onclick="BanUser(\'' + id + '\')" class="btn btn-success btn-xs">Ban/Unban</button>';
        };
     });

        function BanUser(id){
            var data = {"id" : id};
            $.ajax({
                url: "/Identity/Account/Manage/Users?handler=BanUser",
                type:"POST",
                headers: {
                    'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
                },
                dataType:"json",
                data: data,
                success: function(){
                    $("#UsersTable").DataTable().ajax.reload();
                }
            });
        };
</script>
 }